* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: 0.3s;
  z-index: 1000;
}

nav.scrolled {
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: black;
}


.hero {
  height: 100vh;
  background: linear-gradient(to right, #1e9fd6, #74c0fc);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-box {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}


.why {
  padding: 80px 20px;
  text-align: center;
}

.why-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.why-card {
  background: #f2f2f2;
  padding: 30px;
  border-radius: 15px;
  width: 200px;
}


.reviews{
  padding: 80px 20px;
}

.title{
  font-size: 35px;
  padding: 40px;
}

/* container */
.gallery-container{
  position: relative;
}

/* gallery scroll */
.gallery{
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px;
}

/* hide scrollbar */
.gallery::-webkit-scrollbar{
  display: none;
}

/* card */
.card{
  min-width: 450px;
  box-shadow: 0 10px 10px gray;
  transition: 0.3s;
  border-radius: 20px;
}

.card:hover{
  transform: scale(1.04);
}

.card img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.card h3{
  padding: 15px;
  font-size: 30px;
}

.card h2{
  padding: 10px;
}

.card p{
  padding: 10px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  font-size: 20px;
}

/* buttons */
.scroll-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: rgba(255,255,255,0.85);
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: 0.3s;
  z-index: 10;
}

.scroll-btn:hover{
  transform: translateY(-50%) scale(1.1);
}

#leftBtn{
  left: 10px;
}

#rightBtn{
  right: 10px;
}



.subscribe {
  padding: 80px 20px;
  text-align: center;
}

.subscribe-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.subscribe-box input {
  padding: 10px;
  width: 250px;
}

.subscribe-box button {
  padding: 10px 20px;
  cursor: pointer;
}


/* =====================
   MOBILE (max-width: 676px)
   Cards under each other
===================== */
@media (max-width: 676px) {

  .gallery{
    flex-direction: column;
    overflow-x: hidden;
  }

  .card{
    min-width: 100%;
  }

  /* نخفي أزرار السكروول */
  .scroll-btn{
    display: none;
  }

  .card img{
    height: 260px;
  }

  .card h3{
    font-size: 22px;
  }

  .card p{
    font-size: 15px;
  }
}
