*{
    margin: 0;
    padding: 0;
}
.logo img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 30px;
}

section {
    padding-top: 70px;
    background-color: rgb(237, 237, 237);
    height: 300px;
}

.items-box { 
    background-color: white;
width: 930px;
    display: flex;
margin-left: 200px;
margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px grey;
    height: 60px;
    justify-content: center;
    align-items: center;

}

.contant{
margin-left: 210px;
}

#search {
    width: 360px;
    height: 50px;
    border: none;
    margin-right: 8px;
    border-radius: 10px;
    padding-left: 20px;
}

#search:focus{
    border-color:#d6c07a ;
}

#date {
    width: 170px;
    height: 20px;
    padding-bottom: 30px;
    background-color: white;
    border: none;
    color: grey;
}
span{margin-left: 5px;}
#guest {
    width: 200px;
    height: 50px;
    background-color: white;
    border: none;
   
    border-radius: 10px;
}

.border-empty{

    height: 50px;
    width: 2px;
    background-color: rgb(190, 190, 190);

}



.link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap:30px;
    margin-top: 80px;
}


a{
    text-decoration: none;
    color: black;
    font-size: larger;
}

#search-btn{
    background-color: #d6c07a;
    color: white;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 10px;
}