:root{
    --primary-color : rgb(30, 159, 214);
    --second-color : white;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    margin-top: 20px;
    display: flex;
    gap: 880px;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0);

}

.logo {
    padding-left: 50px;
    font-size: 20px;
    font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
    color:var(--second-color);
}

ul {
    font-size: 20px;
    margin-top: 10px;
    margin-right: 50px;
    list-style: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}

a:hover{
    color: var(--primary-color);
}

li{
    transition: 0.3s ease;
}



li:hover{
    transform: scale(0.9);
}

main{
    height: 750px;
    background-image: url("../images/image 7.png");
background-repeat: no-repeat;
background-size: cover;
}

.filter_section{
    width: 950px;
    height: 200px;
    border-radius: 20px;
    background-color: var(--second-color);
    position: relative;
top: 600px;
right: 0px;
left: 250px;
padding: 20px;
box-shadow: 0px 0px 40px rgb(228, 228, 228);
margin-bottom: 40px;
}

.filter_title{
    font-size: 35px;
    color: var(--primary-color);
    margin-top: 15px;
    margin-left: 10px;
}

.filter_p{margin-top: 15px;
    margin-left: 15px;
    color: black;
    font-size: 35px;
    margin-bottom: 25px;

}


.filter_contant{
    border: 1px solid rgb(180, 180, 180);
    border-radius: 50px;
    display: flex;
    width: 900px;
    padding: 5px;
}

.line{
    align-self: center;
    height: 40px;
    width:1px;
    background-color: rgb(180, 180, 180);
    margin: 0px 20px;
}
.line-last{
    align-self: center;
    height: 40px;
    width:1px;
    background-color: rgb(180, 180, 180);
    margin-left: 30px;
}

.icon{
    margin-right: 10px;
font-size: 25px;
    align-self: center;
    margin-left: 10px;
}
.content{
    display: flex;
}

input{
    border: none;
    width: 130px;
}

input:focus{
    outline: none;
}

.search{
    background-color: var(--primary-color);
    border-radius: 100px;
    width: 45px;
    height: 45px;
font-size: 30px;
align-content: center;
text-align: center;
    margin-top: 5px;
    margin-left: 28px;
}