* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", serif;
}

body {
    background: #f8f9fc;
}

.title{
    display: flex;
    padding: 10px;
    color: #000000;
    font-size: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    margin-left: 90%;
    font-size: 20px;
    color: black;
}


.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 10px;
    margin-top: 50px;
}


.child-car {
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: 0.3s;
    width: 400px;
}

.child-car:hover {
    transform: scale(1.1);
}


.child-car img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.child-car h2 {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

.child-car p {
    font-size: 15px;
    line-height: 1.6em;
    color: #000000;
    padding: 10px;
}



