* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f3f6ff;
    min-height: 100vh;
    margin-left: 20%;
}

.payment-card {
    background: #fff;
    width: 380px;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.payment-card h2 {
    margin: 0;
}

.subtitle {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}

.card-types {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    padding: 12px;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.card.active {
    border-color: #4f46e5;
    background: #eef2ff;
    color: #4f46e5;
    font-weight: bold;
}

label {
    display: block;
    margin-top: 15px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.row {
    display: flex;
    gap: 10px;
}

.row div {
    flex: 1;
}

button {
    width: 100%;
    margin-top: 25px;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg, #3b82f6, #9333ea);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.secure {
    margin-top: 15px;
    padding: 10px;
    background: #ecfdf5;
    color: #065f46;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
}
