*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* title*/
h1{
    color: #d6c07a;
    font-size: 50px;
    font-family:'fantasy';
    margin-top: 80px;
    margin-left: 50px;
}

/* parent cards*/
.parent{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
    padding: 40px;
}

/* cards*/
.card{
    background-color:#1B4D4D;
    width: 600px;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.5s;
    line-height: 1.6em;
}

.card:hover{
    transform: scale(1.1);
}

.card h2{
    color: white;
    padding: 5px;
    font-family:'fantasy';
}

.card p{
    color: white;
    font-family:'fantasy';
}

/*img*/
img{
   width: 700px;
   height: 700px;
   object-fit: cover;
   position: absolute;
   margin-left: 45%;
   bottom: 0;
   z-index: -1;
   transition: 1s ease;
   top: -10px;
}


/* Responsive */
@media (max-width: 768px) {
    .parent {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }


    .card {
        width: 100%;
        height: auto;
        padding: 15px;
        margin-top: 20px;
    }

    img {
        position: relative;
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-bottom: 20px;
        z-index: 1;
    }
}