h2 {

    margin-top: 30px;
     display: flex;
     justify-content: center;
    color:#d6c07a;
}


.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    padding: 20px;
    gap: 40px;

}

.child-img p{
    line-height:1.6em;
}

img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.more {
    display: none;
}

button {
    width: 100px;
    height: 40px;
    background-color: #1B4D4D;
    color: white;
}