h2 {
    margin-top: 30px;
    display: flex;
    color: #5f75e3;
    margin-left: 30px;
    font-size: 30px;
    font-style: italic;
    font-family: Georgia, Times, 'Times New Roman', serif;

}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    padding: 20px;
    gap: 40px;

}

.child-card{
    box-shadow: 0 10px 10px rgb(179, 179, 179);
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s;
    font-style: italic;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
.child-card:hover{
    transform: scale(1.1);
}

.child-card p{
    line-height:1.6em;
}

img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.more {
    display: none;
}

button {
    width: 100px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: #4DA6FF;
    border:#4DA6FF ;
    box-shadow: 0 10px 10px rgb(191, 191, 191);
    border-radius: 20px;
    bottom: 15px;
}