* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", serif;
}

body {
    background: #f8f9fc;
}

.title {
    display: flex;
    padding: 20px;
    color: #000000;
    font-size: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


a {
    text-decoration: none;
    display: flex;
    padding-left: 90%;
    font-size: 20px;
    color: black;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
    padding: 40px;

}


.card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.3s;
    width: 400px;
}

.card:hover {
    transform: scale(1.1);
}



.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.content {
    padding: 20px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

.card p {
    font-size: 15px;
    line-height: 1.6em;
    color: #000000;
}




@media (max-width:767px) {
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", serif;
}

body {
    background: #f8f9fc;
}

.title {
    display: flex;
    padding: 20px;
    color: #000000;
    font-size: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


a {
    text-decoration: none;
    display: flex;
    padding-left: 80%;
    font-size: 20px;
    color: black;
}

.cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    padding: 40px;

}


.card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.3s;
    width: 400px;
}

.card:hover {
    transform: scale(1.1);
}



.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.content {
    padding: 20px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

.card p {
    font-size: 15px;
    line-height: 1.6em;
    color: #000000;
}
}