:root{
    --primary-color : #C3AF69;
    --second-color : #1B4D4D;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    margin-top: 20px;
    display: flex;
    gap: 1050px;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0);

}

.logo {
    padding-left: 50px;
    font-size: 20px;
    font-family: "Science Gothic", sans-serif;
    font-weight: 600;
    color: var(--primary-color);
}

ul {
    font-size: 20px;
    margin-top: 10px;
    margin-right: 50px;
    list-style: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

a:hover{
    color: var(--primary-color);
}

li{
    transition: 0.3s ease;
}

li:hover{
    transform: scale(1.2,1.2);
}

main {
    display: flex;

}

.left_section {
    width: 200vh;
    margin-top: 100px;

}

.name {
    margin-left: 150px;
    margin-top: 40px;
    font-size: 40px;
    font-style: oblique;

}

.name2 {
    margin-left: 100px;
    margin-top: 0px;
    font-size: 180px;
    color:var(--primary-color);
    ;
}

.contant_p {
    font-size: 20px;
    margin-top: 20px;
    width: 600px;
    margin-left: 150px;
}

.reviews {
    display: flex;
    gap: 100px;
    position: relative;
    left: 100px;
    top: 40px;

    border-radius: 20px;
    padding: 10px 40px 20px 30px;
    background-color: white;
}

.get_started {
    margin-top: 10px;
    border-radius: 0px;
    padding: 0px 70px 0px 70px;
    background-color:var(--second-color);
    color: white;
    font-size: 20px;
    border: none;
    transition: 0.3s ease;
    border-radius: 10px;
    
}

.get_started:hover{
    background-color:var(--primary-color) ;
    transform: scale(1.1,1.1);
    border-radius: 20px;
    
}

.buttons_section{

    margin-top:100px;
    margin-left: 100px;

}

.buttons_section button {
    border-radius: 10px;
    padding: 30px 50px 30px 50px;
    background-color: var(--second-color);
    color: white;
    font-size: 20px;
    border: none;
    margin-left: 20px;
    transition: 0.3s ease;
}

.buttons_section button:hover{
    background-color:var(--primary-color);
    transform: scale(1.1,1.1);
    border-radius: 20px;
}

.right_section {
    background-image: url("Picture1.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180vh;
}


