*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.parent{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 100px;
}
.image{
    margin-bottom: 20px;
}
.text1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 30px;
    margin-bottom: 70px;
}
p{
    color: gray;
}
.parent2{
    display: flex;
    justify-content: center;
    gap: 70px;
    text-align: center;
    align-items: center;
}
.text2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}
.parent3{
    margin-top: 40px;
}
.text3{
    font-size: 100px;
    font-weight: bold;
    text-align: center;
  position: absolute;
  top: 740px;
  left: 200px;
  border-bottom: 2px solid gray;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text4{
    position: absolute;
    color: white;
    left: 200PX;
    margin-top: 400px;
}
.button{
    left: 200px;
    margin-top:500px ;
    color: black;
    z-index: 100px;
    position: absolute;
}
button{
    font-weight: bold;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 115px;
    height: 35px;
    border:none
}
.parent4{
    display: flex;
    justify-content: center;
    gap: 20px;
    left: 670px;
    top: 1000px;
    position: absolute;
}
.place img{
    width: 180px;
    border-radius: 10px;
}
p{
    margin-top: 8px;
    color:white;
}