 /* -------- Features Section -------- */
.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1100px;
    margin: 70px auto;
    text-align: center;
}

.feature-card {
    padding: 20px;
    transition: 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-8px);
}

.feature-card img {
    width: 250px;
    margin-bottom: 15px;
    transition: 0.3s ease;
}

.feature-card:hover img {
    transform: scale(1.1);
}

.feature-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.feature-card p {
    color: #555;
    font-size: 15px;
    line-height: 1.6;
}

/* -------- Responsive -------- */
@media (max-width: 900px) {
    .features {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .features {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .feature-card img {
        width: 100px;
    }
}

 
 
 body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 30px;
}


/* Title */
.title {
    margin: 40px auto 20px;
    max-width: 1000px;
}
strong{
    color:  rgb(246, 203, 138);
    font-size: 20px;
}
/* Cards */
.cards {
    display: flex;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.card {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.18);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
     transition: 0.3s ease
}
.card:hover img {
    transform: scale(1.08);
}

.card-body {
    padding: 15px;
}

.card-body h3 {
    margin: 0 0 5px;
    font-size: 18px;
}

.location {
    color: gray;
    font-size: 14px;
}

.rate {
    display: inline-block;
    background: #008009;
    color: #fff;
    padding: 3px 8px;
    border-radius: 6px;
    font-size: 13px;
    margin: 8px 0;
}

.price {
    font-size: 20px;
    font-weight: bold;
}

.price small {
    font-size: 13px;
    color: gray;
}
button{
    background-color: rgb(246, 203, 138);
    border: none;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    font-size: medium;
}
/* ---------- Responsive ---------- */
@media (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .cards {
        grid-template-columns: 1fr;
    }

    body {
        padding: 15px;
    }
}  
